body {
  background-color: black;
  font-family: Arial, sans-serif
}

a {
  display: blpck;
  margin: 0 auto;
}
.container {
      display: block;
      margin: 300px auto; /* 100px em cima e margin auto nas laterais */
      padding: 10px 20px;
      font-size: 16px;
      background-color: red; /* Verde do seu projeto */
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
      transition: 0.5s;
}

.container:hover {
  background-color: #B22222;
  color: black;
}
.spotify-player {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: black; /* Mesmo fundo do site */
      padding: 10px 0;
      width: 100%;
      text-align: center;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    }

.mensagem p {
  color:white;
  width: 250px;.
  heigth: auto;
  padding: 10px 20px 30px 20px;
  position: relative;
  font-weight: bold;
  text-align: center;
}

.mensagem img {
  width: 200px;
  height: auto;
  border-radius: 10%;
  padding: 10px;
  position: relative;
  left: 40px;
  top: 20px;
}

.mensagem {
  background-color: #363636;
  border-radius: 10px;
  width: 300px;
  position: relative;
  left: 60px;
  top: 30px;
}

.contador {
  position: relative;
  top: 40px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 100px;
  color: #ffffff;
}
